@model IEnumerable<personapi_dotnet.Models.Entities.Persona>

<h2>Lista de Personas</h2>

<table class="table">
    <thead>
        <tr>
            <th>CC</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.Cc</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.Genero</td>
                <td>@persona.Edad</td>
                <td>
                    <a href="/Persona/Edit/@persona.Cc" class="btn btn-primary">Editar</a>
                    <a href="/Persona/Delete/@persona.Cc" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Persona/Create" class="btn btn-success">Agregar Persona</a>